{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center">{{ Genre.name }}</h1>
    {{ Genre.name }}
    {{ Genre.id }} <br>
    <button type="button" class="btn btn-warning">new Genre</button><br>
    <td><a class="btn btn-primary" href="/" role="button">Terug</a></td>
{% endblock %}
