{% extends 'base.html.twig' %}
{% block body %}
    <h1>Genre Toevoegen</h1>
    <p><Name/p>
    <input type="" class="form-control" id="" aria-describedby="" placeholder=" email">
    <button type="button" class="btn btn-warning">Submit</button><br>
    <td><a class="btn btn-primary" href="/" role="button">Terug</a></td>
{% endblock %}
